/* Variables */
:root {
	--code-color: #dd1144;
	--code-color-background: #ffecf1;
	--main-linkhover-color: #E3EEF2;
	--main-color: #264653;
	--nav-hover-color: #182c33;
}

/* Base elements */
blockquote {
	margin: 5px 0;
	padding: 5px 5%;
	border-left: 5px solid var(--main-color);
}

body {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 1.75rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

code {
	background-color: var(--code-color-background);
	color: var(--code-color);
	padding-left: 0.2em;
	padding-right: 0.2em;
	word-wrap: break-word;
}

pre {
	background-color: #f9f9f9;
	display: block;
	margin: 0 0 10px 0;
	padding: 3%;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

pre code {
	background-color: transparent;
	color: inherit;
	font-size: 100%;
	padding: 0;
}

table {
	margin-bottom: 15px;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
}
td, th {
	padding: 7px 10px;
	border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

/* Layout */
.page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 50px;
	gap: 0px 0px;
	grid-template-areas:
		"header"
		"main"
		"footer"
	;

	min-height: 100vh;
}

.header {
	grid-area: header;
	margin: 0;
	padding: 0;
}

/* Nav */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--main-color);
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

nav li a:hover {
	background-color: var(--nav-hover-color);
}

/* Main */
.main {
	grid-area: main;
	hyphens: auto;
	max-width: 1200px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

.main a {
	color: var(--main-color);
}

.main a:hover {
	background-color: var(--main-linkhover-color);
}

.main h1.post-title {
	color: var(--main-color);
}

.main h1 a {
	text-decoration: none;
}

.main img {
	max-width: 100%;
}

/* Footer */
.footer {
	grid-area: footer;
}

/* Content */
.content {
	margin: 0 auto;
	width: 90%;
}

/* Misc */
.line {
	border: 1px solid #000;
}

.post-wraper {
	margin: auto;
	width: 90% 
}

.post-date {
	font-family: ui-monospace, monospace;
	font-size: 18;
	padding-right: 2%;
}

.tags-icon {
	padding-right: 5px;
}

.post-link {
	color: var(--main-color);
}

/* Adjust for viewport sizes */
@media ( max-width: 850px ) {
	body {
		font-size: 1rem;
	}

	.page {
	    grid-template-rows: auto 1fr auto;
	}

	nav ul li {
		float: none;
	}

	nav ul li a {
		padding: 7px 0 7px 15px;
		text-align: left;
	}
}
