{{ define "main" }}

<div class="content">

	<h2>Posts Archive</h2>
	<hr class="line" />

	{{ $type := "posts" }}
	{{ $.Scratch.Set "count" 1 }}

	{{ range (.Site.RegularPages.GroupByDate "2006") }}
		{{ if and (gt .Key 1) (gt (where .Pages "Type" $type) 0) }}
			{{ range (where .Pages "Type" $type) }}
				{{ if (eq ($.Scratch.Get "count") 1) }}
					{{ $.Scratch.Set "count" 0 }}
					<h3>{{ .Date.Format "2006" }}</h3>
				{{ end }}
			{{ end }}

			{{ $.Scratch.Set "count" 1 }}

			{{ range (where .Pages "Type" $type) }}
				{{ if (ne .Params.hidden true) }}
					{{ partial "list-posts.html" . }}
				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}

</div>

{{ end }}
