
</main>

<footer>
	<span>
		<h2>Recent Posts</h2>
		{{ range first 5 ( where .Site.RegularPages "Type" "posts" ) }}
			{{ partial "list-posts.html" . }}
		{{ end }}
	</span>

	{{ partial "site-footer.html" . }}
</footer>

<script>
(function () {
	let toggle = document.querySelector( 'header .toggle' );
	toggle.addEventListener( 'click', event => {
	let nav = document.querySelector( 'header nav' );
		if ( nav.style.display === 'block' ) {
			nav.style.display = 'none';
		} else {
			nav.style.display = 'block';
		}
	} );
})();
</script>

</body>
</html>
